.discussion-details {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.discussion-details h3 {
  margin: 20px 0;
  color: #333;
  position: sticky;
  top: 47px;
  background: #fafbfd;
  padding: 5px;
  width: fit-content;
  border-bottom-right-radius: 10px;
}

.comment-space-login, .comment {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.comment-space-login, .comment.border {
  border: 1px solid #ddd;
  background-color: #fff;
}

.comment-space-login a {
  width: fit-content;
  margin: 0 auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.username {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
}

.comment-header .right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit-icon {
  cursor: pointer;
  color: #333;
  display: flex;
}

.edit-icon:hover {
  color: #000;
}

.timestamp {
  color: #666;
  font-size: 0.9rem;
}

.comment-header .right .edited {
  color: #666;
  font-size: 0.9rem;
  margin-right: 10px;
}

.comment-space {
  padding: 20px;
  border-radius: 8px;
}

.comment-space .group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-space-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.comment-space textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
}

.comment-space .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.discussion-tags {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.discussion-tags .tag, .discussion-tags .tag:hover {
  padding: 3px 12px;
  background-color: #f0f0f0;
  color: #555;
  border-radius: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .discussion-details {
    width: 95%;
  }
}
