/* Discussions Container */
.discussions {
  --primary-color: var(--topic-pramiry-color);
  width: 80%;
  margin: 0 auto;
  padding: 20px;

}

/* Header Styles */
.discussions .header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.discussions .header .filter-options {
  display: flex;
  gap: 10px;
}

.header h3 {
  font-size: 18px;
  color: #3339;
}

/* Discussion List */
.list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.load-more {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .discussions {
    width: 95%;
  }

  .discussion-header {
    flex-direction: column;
    text-align: center;
  }

  .discussion-title {
    font-size: 1.1rem;
  }

  .vote-count, .comment-count {
    font-size: 0.9rem;
  }

  .discussion-tags-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}