* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-bg: var(--topic-pramiry-color);
  --color: #222;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(135deg, #f7f7f7, #fcfdff, #f7f7f7);
  padding: 0;
  margin: 0;
  color: #222;
  line-height: 1.5;
}

.html-code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

.text-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.without-border {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.user-icon {
  border-radius: 50%;
  object-fit: cover;
}

.filter-sort-option {
  cursor: pointer;
  padding: 3px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 10px #ddd5;
}

.filter-sort-option:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.filter-sort-option.selected {
  color: #fff;
  background-color: var(--primary-color);
}

.filter-sort-options {
  display: flex;
  gap: 10px;
}