body {
  background-color: #fdfdfd;
}

.dashboard-container {
  --primary-container-bg: #d2d0e0;
  --secondary-container-bg: #b4b1b1;

  --raduis1: 5px;
  --raduis2: 10px;

  width: 100%;
  display: flex;
  max-width: 1600px;
  min-height: calc(100vh - var(--nav-pd) - 20px);
}

.dashboard-container .left > div, .dashboard-container .right > div {
  margin-bottom: 10px;
}

/* Left side */

.dashboard-container .left {
  width: 80%;
  margin: 10px;
}

/* Left side -> Card */

.dashboard-container .left .cards .card {
  background-color: var(--primary-container-bg);
  max-width: 500px;
  margin: auto;
  border-radius: var(--raduis1);
  box-shadow: 0 0 5px #0009;
  padding: 10px;
}

.dashboard-container .left .cards .card .card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Left side -> Lesson preview */

.what-next {
  margin-top: 30px;
  padding: 0 20px;
}

.lesson {
  width: calc(100% - 10px);
  max-width: 1300px;
  margin: 10px auto;
  background-color: var(--primary-container-bg);

  border-radius: 10px;
}

.lesson {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.lesson .level {
  margin: 5px 10px;
  border-right: 1px solid #222;
  padding-right: 10px;
}

.lesson .level .num {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.lesson .level .level-name {
  font-size: 14px;
  color: #2228;
}

.lesson .details {
  width: 100%;
  margin: 5px 10px;
}

.lesson .details .title {
  font-size: 18px;
  font-weight: bold;
}

.lesson .details .info {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.lesson .details .info div span:first-child {
  color: #2228;
}

.lesson .action {
  display: flex;
  align-items: center;
}

.lesson .action button {
  width: max-content;
}

/* Right side */

.dashboard-container .right {
  width: 23%;
  margin: 10px;
  min-width: 300px;

  background-color: var(--primary-container-bg);
  border-radius: 5px;
  padding: 10px;
}