.review-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.review-container .review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.review-container .review-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.review-container .review-form {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
}

.review-container .review-form > div {
  width: 50%;
}

.review-container .form-group {
  display: flex;
  flex-direction: column;
}

.review-container .form-label {
  color: #0009;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

@media (max-width: 850px) {
  .review-container .review-form {
    flex-direction: column;
  }

  .review-container .review-form > div {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}