:root {
  --panel-color: #222;
  --seperator: #d6ffca;
}

.slide {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - var(--nav-pd) - 20px);
  max-height: 500px;
  width: calc(100% - 20px);
  max-width: 1000px;
}

.slide .lesson {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide .actions {
  position: absolute;
  bottom: 0;

  display: flex;
  width: 100%;
  justify-content: space-between;
}


.navbar-hidden {
  position: fixed;
  top: 0;
  height: calc(var(--nav-pd) - 18px);
  width: 100%;
  background-color: #ddd8;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.lesson-progress {
  position: fixed;
  top: calc(var(--nav-pd) - 16px);

  
  width: 100%;
  height: 3px;
  background: #0002;
}

.lesson-progress span {
  content: '';
  position: absolute;
  border-radius: 10px;

  height: 3px;
  background-color: var(--primary-bg);
  transition: .3s;
}